<ion-view title="Contact">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="padding">
      <p>Nous sommes à l'écoute de vos remarques et suggestions, n'hésitez pas à nous contacter pour donner votre avis sur l'application et le service, merci.</p>
    </div>

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Votre nom :</span>
        <input type="text" placeholder="Nom">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Votre adresse email :</span>
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Message :</span>
        <textarea placeholder="Message"></textarea>
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive">Envoyer</button>
      <a class="button button-block button-outline button-stable icon-right ion-share">envoyer un message via email</a>
    </div>

    <div class="padding">
      <p>Si l'application vous plait, vous pouvez également nous donner une note.</p>
      <a class="button button-block button-outline button-positive icon-right ion-thumbsup">Noter l'application sur le store</a>
    </div>

  </ion-content>
</ion-view>
