<ion-view title="Paramètres">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">Au lancement, afficher :</div>
        <select>
            <option selected>Tempo</option>
            <option>EJP</option>
        </select>
      </label>
    </div>

    <div class="padding">
      <p>L’information fournie n’est en rien officielle, et n’est nullement contractuelle. Seules les informations fournies par votre compteur et votre boitier sont contractuelles.</p>
    </div>

  </ion-content>
</ion-view>
